.contact-info {
    &__wrapper {
        width: 705px;
        font-size: 12px;
        color: #ffffff;
        font-family: 'Open sans';
    }

    &__text {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 1024px) {
    .contact-info {
        &__wrapper {
            width: auto;
            display: flex;
            flex-wrap: wrap;
        }

        &__text {
            display: block;
        }
    }
}